<html>
  <head>
    <title>Dashboard - {{ username }}</title>
  </head>
  <body>
      <center>
    <h1>Welcome, {{ username }}</h1>
     <a href="{{ url_for('custloan)}}">Customer Loan</a>
     {% for row in rows %} 
        <p>{{ row[1]}}</p>
        <p>Bank ID:{{ row[2] }}</p>
      <p>Username {{ row[2]}}</p>
      <p>Name: {{ row[4]}}</p>
        <p>Designation: {{ row[5]}}</p>
        {% end for %}
      <br /><br />
      <a href="{{ url_for('home')}}">Logout</a>
    </center>
  </body>
</html>
