<html>
  <head>
    <title>Registration - Staff</title>
  </head>
  <body>
    <center>
    <h1>Registration</h1>
    <form method="post" action="/homepage">
      <input type="hidden" value="register"  name="login"/>
      Bank ID: <input name="bankid" /><br />
      User Name: <input name="username"><br />
      Password: <input name="password" type="password" /><br />
      Name: <input name="flname" /><br />
      Designation: <input name="designation" /><br />
      <input type="submit" name="submit" value="submit /"><br />
    </form>
    </center>
  </body>
</html>
